@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}

:root {
    --main-color: #F1F1F1;
    --second-color: #e2e2e2;
}
body{
    display: grid;
    justify-content: center;
}
.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
}

.header .wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 1200px;
    height: 100px;
}

.header__logo {
    width: 200px;
    height: 60px;
    background-color: var(--second-color);
    border-radius: 10px;
}

.header__menu {
    height: 34px;
    background-color: var(--second-color);
    border-radius: 10px;
}

.header__button {
    height: 42px;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--second-color);
}
/* reponsive header */
@media (max-width: 1230px) {
    .header .wrapper {
        width: 720px;
        height: 72px;
        gap: 30px;
    }
    .header__logo{
        width: 140px;
        height: 42px;
    }
    .header__menu{
        width: 419.77px;
        height: 30px;
    }
    .header__button{
        width: 100.23px;
        height: 36px;
        padding: 0 16px 0 16px;
        box-sizing: border-box;
    }
}
@media (min-width: 750px) {
    .header__menu{
        order: 2;
    }.header__logo{
        order: 1;
    }
    .header__button{
        order: 3;
    }
    .header__menu{
        flex: 1;
    }
}
@media (max-width: 750px) {
    .header .wrapper {
        width: 546px;
        height: 72px;
        gap: 120px;
    }
    .header__logo{
        width: 140px;
        height: 42px;
    }
    .header__menu{
        width: 66px;
        height: 36px;
        font-size: 16px;
    }
    .header__button{
        width: 100.23px;
        height: 36px;
        padding: 0 16px 0 16px;
        box-sizing: border-box;
    }
}
@media (max-width: 576px){
    .header .wrapper {
        width: calc(100vw - 30px);
        height: 72px;
        gap: calc((100% - 140px - 100.23px - 66px)/2);
    }
}
/* container */
.container {
    display: flex;
    width: 100%;
    background-color: var(--main-color);
   justify-content: center;
}

.container .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 680px;
}

.container__content {
    width: 585px;
    height: 267px;
    background-color: var(--second-color);
    border-radius: 10px;
}

.container__img {
    float: right;
    width: 585px;
    height: 520px;
    background-color: var(--second-color);
    border-radius: 10px;
}
/* reponsive container */
@media (max-width: 1230px) {
    .container .wrapper {
        height: 430px;
        width: 720px;
        gap: 30px;
    }
    .container__content {
        width: 345px;
        height: 267px;
    }
    .container__img {
        width: 345px;
        height: 310px;
    }
}
@media (max-width: 750px) {
    .container{
        padding: 45px 0;
    }
    .container .wrapper {
        display: grid;
        justify-items: center;
        height: 100%;
        width: 546px;
        gap: 30px;
    }
    .container .wrapper *{
        width: 100%;
    }
    .container__content {
        height: 267;
        order: 2;
    }
    .container__img {
        float: left;
        height: 491px;
        order: 1;
    }
}
@media (max-width: 576px){
    .container .wrapper {
        width: calc(100vw - 30px);
        gap: 30px;
    }
    .container__content {
        height: 267;
    }
    .container__img {
        height: 491px;
    }
}
/* selection */
.selection{
    width: 100vw;
}
.title {
    /* width: 100%; */
    /* max-width: 600px; */
    height: 80px;
    background-color: var(--second-color);
    border-radius: 10px;
    margin: 0 auto 40px auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: none;
}
@media (min-width: 1230px) {
    .title{
        max-width: 600px;
    }
}

.selection1 {
    justify-content: center;
    padding: 45px 0;
}

.selection1 .wrapper {
    margin: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.selection1 .item {
    width: calc((100% - 60px)/3);
    height: 420px;
    background-color: var(--second-color);
    border-radius: 10px;
}
/* reponsive selection 1 */
@media (max-width: 1230px) {
    .selection1{
        background-color: #FFFFFF;
        padding: 60px 0;
    }
    .selection1 .item {
        width: calc((100% - 60px)/2);
        height: 420px;
    }.selection1__title{
        max-width: 720px;
        width: 720px;
        height: 60px;
        margin-bottom: 30px;
    }
    .selection1 .wrapper {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 720px;
        gap: 30px;
    }
    .selection1 .item{
        width: 100%;
    }
}
@media (max-width: 750px) {
    .selection1{
        padding: 45px 0;
    }
    .selection1 .item {
        width: calc((100% - 60px)/2);
        height: 420px;
    }.selection1__title{
        width: 546px;
    }
    .selection1 .wrapper {
        width: 546px;
    }
    .selection1 .item{
        width: 100%;
    }
}
@media (max-width: 576px){
    .selection1 .item {
        width: calc(100% - 30px);
        height: 420px;
    }.selection1__title{
        width: calc(100% - 30px);
    }
    .selection1 .wrapper {
        width: calc(100% - 30px);
    }
    .selection1 .item{
        width: 100%;
    }
}
/* selection2 */
.selection2 {
    justify-content: center;
    padding: 80px 0 80px 0;
}

.selection2 .wrapper {
    margin: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.selection2 .item {
    width: calc((100% - 4*30px)/5);
    height: 300px;
    background-color: var(--second-color);
    border-radius: 10px;
}
/* reponsive selection 2 */
@media (max-width: 1230px) {
    .selection2{
        background-color: #FFFFFF;
        padding: 60px 0;
    }
    .selection2 .item {
        width: calc((100% - 60px)/2);
        height: 420px;
    }.selection2__title{
        width: 720px;
        height: 60px;
        margin-bottom: 30px;
    }
    .selection2 .wrapper {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        width: 720px;
        gap: 30px;
    }
    .selection2 .item{
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 750px) {
    .selection2{
        padding: 45px 0;
    }
    .selection2 .item {
        width: calc((100% - 60px)/2);
        height: 300px;
    }.selection2__title{
        width: 546px;
    }
    .selection2 .wrapper {
        width: 546px;
    }
    .selection2 .item{
        width: 100%;
    }
}
@media (max-width: 576px){
    .selection2 .item {
        width: calc(100% - 30px);
        height: 300px;
    }.selection2__title{
        width: calc(100% - 30px);
    }
    .selection2 .wrapper {
        width: calc(100% - 30px);
    }
    .selection2 .item{
        width: 100%;
    }
}
/* selection3 */
.selection3 {
    justify-content: center;
    padding: 80px 0 80px 0;
}

.selection3 .wrapper {
    margin: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.selection3 .item {
    width: calc((100% - 3*30px)/4);
    height: 300px;
    background-color: var(--second-color);
    border-radius: 10px;
}
/* reponsive selection 3 */
@media (max-width: 1230px) {
    .selection3{
        background-color: #FFFFFF;
        padding: 60px 0;
    }
    .selection3 .item {
        width: calc((100% - 60px)/2);
        height: 420px;
    }.selection3__title{
        width: 720px;
        height: 60px;
        margin-bottom: 30px;
    }
    .selection3 .wrapper {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 720px;
        gap: 30px;
    }
    .selection3 .item{
        width: 100%;
        height: 300px;
    }
}
@media (max-width: 750px) {
    .selection3{
        padding: 45px 0;
    }
    .selection3 .item {
        width: calc((100% - 60px)/2);
        height: 300px;
    }.selection3__title{
        width: 546px;
    }
    .selection3 .wrapper {
        width: 546px;
    }
    .selection3 .item{
        width: 100%;
    }
}
@media (max-width: 576px){
    .selection3__title{
        width: calc(100% - 30px);
    }
    .selection3 .item {
        width: calc(100% - 30px);
        height: 300px;
        width: calc(100% - 30px);
    }
    .selection3 .wrapper {
        width: calc(100% - 30px);
    }
    .selection3 .item{
        width: 100%;
    }
}
/* footer */
.footer {
    height: 72px;
    background-color: var(--second-color);
}